<%= simple_form_for @user, class: 'steps-form' do |f| %>
  <fieldset class="steps-form__step">
    <div class="container_12">
      <span class="steps-form__step__step-number">1</span>
      <h1>A few details</h1>
      <div class="steps-form__step__fields">
        <div class="steps-form__step__field-group">
          <%= f.input :name, class: 'steps-form__step__field' %>
        </div>
      </div>
      <div class="steps-form__step__fields">
        <div class="steps-form__step__field-group">
          <%= f.input :email, class: 'steps-form__step__field' %>
        </div>
      </div>
      <div class="steps-form__step__fields">
        <div class="steps-form__step__field-group">
          <div class="steps-form__step__field">
            <%= f.input :under_18, label: 'Are you under 18?', as: :radio_buttons, class: 'steps-form__step__field' %>
          </div>
        </div>
      </div>
      <div class="steps-form__step__fields">
        <div class="steps-form__step__field-group">
          <div class="steps-form__step__field">
            <%= f.input :gender,
                label: 'How do you identify?',
                collection: ['Female', 'Male', 'Other'],
                as: :radio_buttons,
                class: 'steps-form__step__field' %>
          </div>
        </div>
      </div>
  </fieldset>
  <fieldset class="steps-form__step">
    <div class="container_12">
      <span class="steps-form__step__step-number">2</span>
      <h1>Rails Girls experience</h1>
    <div class="steps-form__step__fields">
      <div class="steps-form__step__field-group">

      <div class="steps-form__step__field-group">
        <div class="steps-form__step__field">
          <%= f.input :previous_attendance,
              label: "Have you previously attended a Rails Girls workshop?",
              collection:
              [['No, this would be my first time', 'None'],
               ["Yes, I've attended Rails Girls", 'Rails Girls'],
               ["Yes, I've attended Rails Girls Next", 'Rails Girls Next']],
              as: :radio_buttons,
              include_hidden: false %>
         </div>
      </div>
    </div>
    <div class="steps-form__step__fields">
      <div class="steps-form__step__field-group">

      <div class="steps-form__step__field-group">
        <div class="steps-form__step__field">
          <%= f.input :track,
              label: "Which track are you interested in?",
              collection:
              [['Rails Girls Beginner', 'beginner'],
               ["Rails Girls Next", 'next']],
              as: :radio_buttons %>
         </div>
      </div>
    </div>
  </fieldset>
  <fieldset class="steps-form__step">
    <div class="container_12">
      <span class="steps-form__step__step-number">3</span>
      <h1>Tell us a bit more about yourself</h1>
      <div class="steps-form__step__field-group">
        <div class="steps-form__step__field">
          <%= f.input :programming_experience,
              label: "How would you rate your programming abilities?",
              collection:
              [ "I program regularly, but not in Ruby.",
                "I know programming concepts, and I can sometimes put them together.",
                "I know about variables, arrays, functions, etc. but I can’t use them together.",
                "I don’t know anything about programming, yet!" ],
              as: :radio_buttons %>
         </div>
      </div>
      <div class="steps-form__step__fields">
        <div class="steps-form__step__field-group">
          <%= f.input :reason, label: "We anticipate more applicants than we have spaces available. Please briefly let us know who you are and why you wish to attend Rails Girls. We'll do our best to select those who we feel will most benefit.", class: 'steps-form__step__field' %>
        </div>
      </div>
  </fieldset>
  <fieldset class="steps-form__step">
    <div class="container_12">
      <span class="steps-form__step__step-number">4</span>
      <h1>Almost there</h1>
    <div class="steps-form__step__fields">
      <div class="steps-form__step__field-group">
        <div class="steps-form__step__field">
          <%= f.input :dietary_requirements,
              label: 'Dietary requirements (if any)',
              collection: ['Vegetarian', 'Vegan', 'Gluten free', 'Dairy free'],
              as: :check_boxes,
              include_hidden: false %>
        </div>
      </div>
    </div>
    <div class="steps-form__step__field-group">
      <div class="steps-form__step__field">
        <%= f.input :tshirt_size,
            label: 'T-shirt size',
            collection:
            [['X-Small', 'xs'],
             ["Small", 's'],
             ["Medium", 'm'],
             ["Large", 'l'],
             ["X-Large", 'xl']],
            as: :radio_buttons %>
      </div>
    </div>
    <div class="steps-form__step__fields">
      <div class="steps-form__step__field-group">
          <%= f.input :extra_info, label: "Anything else we need to know?", class: 'steps-form__step__field' %>
      </div>
    </div>
    <div class="steps-form__step-next-btn">
      <input type="submit" name="user[submit]" class="btn btn-primary" value="Apply" />
      </div>
    </div>
  </fieldset>
<% end %>
