<div class="container_12 user-show-container container">

  <h1 class="user-name">
    <!-- <span class="fa fa-user"></span>&nbsp;&nbsp; -->
    <%=@user.name%></h1>

  <div class="user-info-divider">
    <h4>Rails Girls experience:</h4>
    <p>Previous attendant: <%=@user.previous_attendant%></p>
    <p>Tracks: <%=@user.track%></p>
  </div>

  <div class="user-info-divider">
    <h4>Programming experience:</h4>
    <p><%=@user.programming_experience%></p>
  </div>

  <div class="user-info-divider">
    <h4>Reason for applying:</h4>
    <p><%=@user.reason%></p>
  </div>

  <div class="user-info-divider">
    <h4>Admin votes</h4>
    <%= link_to vote_path(user_id: @user.id, vote_type: 'up'), class: "up-vote-btn" do %>
      <i class="fa fa-thumbs-o-up"></i><span class='up-count'><%=@user.count_up_votes%></span>
    <%end%>
    <%= link_to vote_path(user_id: @user.id, vote_type: 'down'), class: "down-vote-btn" do %>
      <i class="fa fa-thumbs-o-down"></i><span class='up-count'><%=@user.count_down_votes%></span>
    <%end%>
  </div>

  <div class="user-info-divider">
    <h4>Admin comments</h4>

    <%@user.comments.each do |comment| %>
      <div class="comment">
        <p class="text"><%=comment.comment%></p>
        <p class="date">Posted by  at <%=comment.created_at.strftime('%B %d, %Y %I:%M %P')%></p>
      </div>
    <%end%>

    <div class="comment">
      <%= simple_form_for @user do |f| %>
        <%= f.simple_fields_for :comments do |c| %>
          <%= c.input :comment, :class => 'admin-comment'%>
          <%= c.button :submit, 'Submit comment'%>
        <%end%>
      <%end%>
    </div>

    <%= link_to 'Approve', admin_status_path(@user.id, :status => 'approved'), class: "btn btn-primary" %>
    <%= link_to 'Reject', admin_status_path(@user.id, :status => 'rejected'), class: "btn btn-secondary" %>
    <%= link_to 'Defer', admin_status_path(@user.id, :status => 'deferred'), class: "btn btn-secondary" %>
  </div>

</div>
