<h1><%=@user.name%></h1>
<h2>Track:</h2>
<p><%=@user.track%><p>
<h2>Previous attendant:</h2>
<p><%=@user.previous_attendant%><p>
<h2>Programming experience:</h2>
<p><%=@user.programming_experience%><p>
<h2>Reason for applying:</h2>
<p><%=@user.reason%><p>

<h2>Admin votes</h2>

<%= link_to vote_path(@user.id, :vote_type => 'up') do %>
  <i class="fa fa-thumbs-o-up"></i> 
<%end%>

<%= link_to vote_path(@user.id, :vote_type => 'down') do %>
  <i class="fa fa-thumbs-o-down"></i> 
<%end%>

<h2>Admin comments</h2>

<%= link_to 'Approve', status_path(@user.id, :status => 'approved') %>
<%= link_to 'Reject', status_path(@user.id, :status => 'rejected') %>
<%= link_to 'Defer', status_path(@user.id, :status => 'deferred') %>